* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}

/* ******************************header section styling******************************* */

/* header tag  */
header {
  height: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ededee;
  box-shadow: 0px 0.4px 4px rgb(124, 124, 124);
  /* border-bottom: 0.8px solid black; */
}
/* header tag  */

/* logo image  */
.myntra_home {
  height: 45px;
}
/* logo image  */

/* .logo_container box  */
.logo_container {
  margin-left: 3.5%;
}
/* .logo_container box  */

/* action bar styling  */
.action_bar {
  margin-right: 3.5%;
}
/* action bar styling  */

/* nav tag  */
.nav_bar {
  display: flex;
  min-width: 300px;
  width: 40%;
  justify-content: space-around;
  /* align-items: center; */
}
/* nav tag  */

/* fix the nav bar  */
header {
  position: sticky;
  z-index: 1;
  top: 1px;
}

/* fix the nav bar  */

/* nav var designing  */
.nav_bar a {
  text-decoration: none;
  color: #282c3f;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 27.99px 0px;
  border-bottom: 3px solid rgb(255, 255, 255);
}

/* hover effect on the nav bar  */
.nav_bar a:hover {
  border-bottom: 3px solid #f54e77;
}
/* hover effect on the nav bar  */
/* nav var designing  */

/* sup tag inside nav bar  */
.nav_bar a sup {
  color: #ff3f6c;
  font-size: 10px;
  margin-top: 5px;
  position: relative;
  top: -11px;
  right: 9px;
  font-weight: 700;
}
/* sup tag inside nav bar  */

/* search box styling  */
.search_bar {
  height: 40px;
  min-width: 200px;
  width: 30%;
  display: flex;
  align-items: center;
}

/* hover effect on the search bar  */
.search_bar:hover {
  cursor: pointer;
}

/* hover effect on the search bar  */

/* search box styling  */
.search_box {
  background-color: #f5f5f6;
  color: #696e79;
  flex-grow: 1;
  height: 40px;
  border: none;
  text-align: center;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
/* search box styling  */

/* styling of the .search-icon  */
.search-icon {
  height: 40px;
  padding: 10px;
  background-color: #f5f5f6;
  color: #282c3f;
  font-weight: 200;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}
/* styling of the .search-icon  */

/* action bar styling  */
.action_bar {
  display: flex;
  /* height: 40px; */
  min-width: 200px;
  justify-content: space-between;
}

/* container box icons style  */
.action_container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
/* container box icons style  */
/* action bar styling  */
/* ******************************header section styling******************************* */

/* **************************main section styling******************************* */
.banner_container {
  margin: 20px 0px;
}

/* banner image */
.banner_image {
  width: 100%;
}
/* banner image */

/* categories heading  */
.categories_heading {
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 700;
  text-transform: uppercase;
}
/* categories heading  */

/* categories item styling */
.categories_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sale_item {
  padding: 30px 0px;
  width: 275px;
}
/* categories item styling */

/* **************************main section styling******************************* */

/* *****************************footer section style******************************** */
.footer_container {
  padding: 30px 200px;
  background-color: #fafbfc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* footer column  */
.footer_column {
  width: 400px;
  display: flex;
  margin: 40px 0px;
  flex-direction: column;
  box-sizing: border-box;
}

.footer_column1 {
  margin-top: -70px;
}

.footer_column h6 {
  font-weight: 700;
  font-size: 17px;
  color: #283c3f;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.footer_column h5 {
  font-size: 12px;
  color: #282c3f;
  margin-top: 25px;
  font-weight: 700;
}

.footer_column a {
  color: #696b79;
  font-size: 17px;
  text-decoration: none;
  font-weight: 500;
  padding: 4px;
  text-transform: capitalize;
}

/* app img  */
.footer_column a img {
  height: 40px;
  width: 140px;
}
/* app img  */

/* logo icons  */
.footer_column .social_logo a i {
  font-size: 20px;
}

/* original logo  */
.original_logo {
  display: flex;
  gap: 15px;
}
/* original logo  */
/* logo icons  */

/* 8888888888888888888888 */

/* footer container 2 style   */
.footer_container-2 {
  padding: 10px 200px;
  background-color: #fafbfc;
  /* display: flex; */
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.row_1 div {
  height: 1px;
  width: 1550px;
  background-color: black;
  position: relative;
  left: 155px;
  bottom: 16.5px;
}

#two {
  text-decoration: none;
  font-size: 20px;
  color: #696b79;
  letter-spacing: 1px;
  word-spacing: 4px;
}

.three {
  margin: 80px 0px;
  display: flex;
  justify-content: space-between;
}

.three p {
  font-size: 20px;
  color: #696e79;
}

.three p a {
  text-decoration: none;
}

/* footer container 2 style   */
/* footer column  */

/* *****************************footer section style******************************** */
